<footer class="footer">
  <div class="footer__inner container">

    <div class="footer__brand">
      <a routerLink="/" class="footer__logo">
        <img src="assets/logo.png" alt="Dental Edna Pitalito" />
      </a>
    </div>

    <div class="footer__contact">
      <p>Cl. 1 #1A -72 Local 105</p>
      <a href="tel:3143541941">314 3541941</a>
      <a href="mailto:correodeposito@dentalpitalito.com">correodeposito&#64;dentalpitalito.com</a>
    </div>

    <div class="footer__col">
      <h4>Catálogo</h4>
      <a routerLink="/catalogo" [queryParams]="{cat:'instrumental'}">Instrumental</a>
      <a routerLink="/catalogo" [queryParams]="{cat:'materiales'}">Materiales Dentales</a>
      <a routerLink="/catalogo" [queryParams]="{cat:'proteccion'}">Bioseguridad</a>
      <a routerLink="/catalogo" [queryParams]="{cat:'consumibles'}">Endodoncia</a>
    </div>

    <div class="footer__col">
      <h4>Información</h4>
      <a routerLink="/politicas">Políticas de envío</a>
      <a routerLink="/terminos">Términos y condiciones</a>
      <a routerLink="/faq">Preguntas frecuentes</a>
    </div>

  </div>
</footer>
